<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class='container'>
	<header>
		<% include ../partials/header %>
	</header>
		<h1>Search Results...</h1>
		<br>
		<ul>
			<% artists.forEach(function(artist) {%>
				<li><a href='<%= artist.href %>'><%= artist.name %></a></li>
				<% }) %>
		</ul>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>




