<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class='container'>
	<header>
		<% include ../partials/header %>
	</header>
		<h1>Search For Your Favorite Artists</h1>
		<form method="POST" action="/search">
			Who would you like to listen to? <input type="text" name="artistSearch">
			<input type='submit' value='submit'>
		</form>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>